backend:
  name: gitlab
  repo: mb-boutique/mb-boutique

media_folder: static/images
public_folder: images

collections:
  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/promo/index.md"
        label: "Promotions"
        name: "promotions"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "promo-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Description", name: "description", widget: "markdown"}
