backend:
  name: gitlab
  repo: mb-boutique/mb-boutique

media_folder: static/images
public_folder: images

collections:
  - name: 'pages'
    label: 'Pages'
    files:
      - file: 'src/pages/promo/index.md'
        label: 'Promotions'
        name: 'promotions'
        fields:
          - {
              label: 'Path',
              name: 'path',
              widget: 'hidden',
              default: 'promotions',
            }
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Description', name: 'description', widget: 'markdown' }
