.navbar {
  padding: 0;

  .logo-link {
    width: 50%;

    @media (min-width: 576px) {
      width: 40%;
    }

    @media (min-width: 768px) {
      width: 30%;
    }
    @media (min-width: 992px) {
      width: 20%;
    }
    @media (min-width: 1200px) {
      width: 11%;
    }
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    width: 100%;

    @media (min-width: 1200px) {
      width: 90%;
    }

    .nav-item {
      @media (min-width: 992px) {
        width: 25%;
        text-align: center;
      }

      a {
        font-size: 1rem;
        color: black;
        transition: 0.3s;
        font-family: 'Poppins';

        &:hover {
          text-decoration: none;
          color: #00ad9f99;
        }
      }
    }
  }

  .icon-bar {
    a {
      color: black;
      padding: 0;
      margin: 0 15px;
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        color: #00ad9f99;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  min-height: 200px;
  background-color: #363636;
  color: #999999;

  .col {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    .nav-link {
      color: #d0d0d0;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        color: #999999;
      }
    }
  }

  .col-12 {
    text-align: center;

    a {
      transition: 0.3s;
      color: #d0d0d0;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        color: #999999;
      }
    }
  }
}
