.navbar-nav {
  display: flex;
  align-items: center;
  width: 80%;

  .nav-item {
    @media (min-width: 992px) {
      width: 25%;
      text-align: center;
    }
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
