/********** JUMBOTRON SECTION **********/
.jumbotron-fluid {
  margin-top: 25px;
  padding: 0;
  background: url(./images/eyebrows_jumbotron_sm.jpg);
  background-size: 640px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 30vh;

  @media (min-width: 575px) {
    margin-top: 50px;
    background-size: contain;
  }

  @media (min-width: 576px) {
    background: url(./images/eyebrows_jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 60vh;
  }

  .jumbo-row {
    display: flex;
    justify-content: center;

    h1 {
      font-family: 'Playfair Display';
      font-size: 2rem;
      line-height: 1.5;
      text-align: center;
      color: #fff;
      margin: 50px auto 25px auto;
      width: 100%;

      @media (min-width: 575px) {
        font-size: 2.5rem;
        line-height: 1.5;
        margin: 50px auto 75px auto;
      }
      @media (min-width: 767px) {
        font-size: 4rem;
        line-height: 1.5;
        width: 50%;
        margin: 100px auto 75px auto;
      }
    }

    .btn-col {
      display: flex;
      justify-content: center;
      width: 100%;

      button {
        border: 1px solid;
        background-color: #00ad9f99;
        color: #fff;
        font-family: 'Poppins';
        font-size: 1rem;
        margin-bottom: 0;
        width: 100%;
        padding: 10px;
        transition: 0.3s;

        @media (min-width: 576px) {
          font-size: 1.5rem;
          margin-bottom: 50px;
          padding: 15px;
        }

        @media (min-width: 993px) {
          margin-bottom: 0px;
        }

        &:hover {
          cursor: pointer;
          background-color: #fff;
          color: #00ad9f99;
        }
      }
    }
  }
}

/********** ABOUT MICROBLADING SUMMARY SECTION **********/

.about-mb {
  margin-top: 50px;

  @media (min-width: 576px) {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .about-mb-desc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
    font-family: 'Playfair Display';
    text-align: center;

    h2 {
      margin-bottom: 50px;
    }

    p {
      line-height: 2;
    }
  }

  .about-mb-img-col {
    margin-bottom: 50px;
  }

  a {
    button {
      border: 1px solid;
      background-color: #00ad9f99;
      color: #fff;
      margin-top: 25px;
      padding: 5px 10px 5px 10px;
      font-family: 'Poppins';
      font-size: 1.2rem;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #00ad9f99;
      }
    }
  }
}

/********** SHOP INFO SECTION **********/

.shop-info-fluid {
  font-family: 'Playfair Display';
  background-color: #f4f6f4;
  @media (min-width: 576px) {
    margin-bottom: 50px;
  }

  .info-col {
    margin-top: 50px;
    margin-bottom: 25px;

    @media (min-width: 767px) {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    h2 {
      margin-bottom: 25px;
      text-align: left;

      @media (min-width: 767px) {
        margin-bottom: 50px;
      }
    }

    a {
      color: #00ad9f99;
      transition: 0.3s;

      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }

  .info-img-col {
    margin-top: 25px;
    margin-bottom: 25px;

    @media (min-width: 767px) {
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }

  .info-btn-col {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;

    @media (min-width: 767px) {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    a {
      width: 100%;

      @media (min-width: 767px) {
        width: 50%;
      }
      button {
        border: 1px solid;
        background-color: #00ad9f99;
        color: #fff;
        font-family: 'Poppins';
        font-size: 1rem;
        margin-bottom: 0;
        width: 100%;
        padding: 10px;
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          background-color: #fff;
          color: #00ad9f99;
        }
      }
    }

    h2 {
      width: 100%;
      text-align: center;
      @media (max-width: 766px) {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }

    .info-icons {
      display: flex;
      width: 100%;

      a {
        text-align: center;
        color: black;

        &:hover {
          color: #00ad9f99;
        }
      }
    }
  }
}

/********** MEET MONICA SECTION **********/

.meet-monica {
  font-family: 'Playfair Display';
  margin-top: 50px;

  @media (min-width: 767px) {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .monica-about {
    text-align: center;

    @media (min-width: 767px) {
    }
    h2 {
      margin-top: 25px;
      margin-bottom: 25px;

      @media (min-width: 767px) {
        margin-top: 0px;
        margin-bottom: 50px;
      }
    }

    p {
      margin-bottom: 25px;

      @media (min-width: 767px) {
        margin-bottom: 0;
      }
    }
  }
}

/********** TESTIMONIALS SECTION **********/

.testimonials {
  font-family: 'Playfair Display';
  margin-top: 25px;
  margin-bottom: 50px;
  @media (min-width: 767px) {
    margin-bottom: 100px;
  }

  h2 {
    text-align: center;
    margin-bottom: 25px;
    @media (min-width: 767px) {
      margin-bottom: 50px;
    }
  }
}
