/********** JUMBOTRON SECTION **********/
.jumbotron-fluid {
  margin-top: 25px;
  padding: 0;
  background: url(../images/eyes-sm.jpg);
  background-size: 600px;
  background-position-y: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 30vh;

  @media (min-width: 575px) {
    background-position-y: 60px;
    margin-top: 50px;
    background-size: contain;
    background-position-y: 0;
  }

  @media (min-width: 576px) {
    background: url(../images/eyes.jpg);
    background-size: cover;
    min-height: 50vh;
  }

  .jumbo-row {
    display: flex;
    justify-content: center;

    h1 {
      font-size: 2rem;
      line-height: 1.5;
      text-align: center;
      color: #fff;
      margin: 50px auto 25px auto;
      width: 100%;
      font-family: 'Playfair Display';
      opacity: 1;

      @media (min-width: 575px) {
        font-size: 2.5rem;
        line-height: 1.5;
        margin: 50px auto 75px auto;
      }
      @media (min-width: 767px) {
        font-size: 4rem;
        line-height: 1.5;
        width: 50%;
        margin: 100px auto 75px auto;
      }
    }

    .btn-col {
      display: flex;
      justify-content: center;
      width: 100%;

      button {
        border: 1px solid;
        background-color: #00ad9f99;
        color: #fff;
        font-family: 'Poppins';
        font-size: 1rem;
        width: 100%;
        padding: 10px;
        transition: 0.3s;

        @media (min-width: 576px) {
          font-size: 1.5rem;
          margin-bottom: 50px;
          padding: 15px;
        }

        &:hover {
          cursor: pointer;
          background-color: #fff;
          color: #00ad9f99;
        }
      }
    }
  }
}

/********** ABOUT MICROBLADING SUMMARY SECTION **********/

.about-mb {
  margin-top: 50px;
  font-family: 'Poppins';
  margin-bottom: 25px;

  @media (min-width: 470px) {
    margin-bottom: 50px;
  }

  @media (min-width: 576px) {
    margin-top: 100px;
  }

  .about-mb-desc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    text-align: center;

    @media (min-width: 470px) {
      margin-bottom: 50px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 50px;
      font-family: 'Playfair Display';
    }

    p {
      line-height: 2;
      opacity: 0;
    }
  }

  a {
    button {
      border: 1px solid;
      background-color: #00ad9f99;
      color: #fff;
      margin-top: 25px;
      padding: 10px 15px;
      font-family: 'Poppins';
      font-size: 1.2rem;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #00ad9f99;
      }
    }
  }

  .about-mb-img-col {
    min-height: 450px;
    margin-top: 50px;

    @media (min-width: 1200px) {
      margin-top: 0;
      min-height: 500px;
    }
    .gatsby-image-wrapper {
      height: 100%;
      opacity: 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      img {
        object-fit: cover !important;
        font-family: 'object-fit: contain !important; object-position: center center !important;';
      }
    }
  }
}

/********** SHOP INFO SECTION **********/

.shop-info-fluid {
  font-family: 'Poppins';
  background-color: #f8f9fa;
  background: url(../images/beautybg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  h2 {
    text-align: center;
    font-family: 'Playfair Display';
  }

  .card-header {
    background-color: #00ad9f99;
    color: white;
  }
  .card {
    height: 100%;
  }
  @media (min-width: 576px) {
    margin-bottom: 50px;
  }

  .info-col {
    margin-top: 50px;
    margin-bottom: 25px;

    @media (min-width: 767px) {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    a {
      color: #00ad9f99;
      transition: 0.3s;

      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }

  .info-img-col {
    margin-top: 25px;
    margin-bottom: 25px;

    @media (min-width: 767px) {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    .gatsby-image-wrapper {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      img {
        font-family: 'object-fit: cover !important; object-position: center center !important;';
      }
    }
  }

  .info-btn-col {
    margin-top: 25px;
    margin-bottom: 50px;

    @media (min-width: 767px) {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    .card-body {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      .info-icons {
        display: flex;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 50px;
        text-align: center;

        @media (min-width: 767px) {
          margin-bottom: 50px;
        }

        a {
          width: 100%;
          color: black;

          @media (min-width: 767px) {
            width: 50%;
          }

          &:hover {
            color: #00ad9f99;
          }
        }
      }

      button {
        border: 1px solid;
        background-color: #00ad9f99;
        color: #fff;
        font-size: 1rem;
        margin-bottom: 0;
        width: 100%;
        padding: 10px;
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          background-color: #fff;
          color: #00ad9f99;
        }
      }
    }
  }
}

/********** MEET MONICA SECTION **********/

.meet-monica {
  margin-top: 50px;
  font-family: 'Poppins';

  @media (min-width: 767px) {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .gatsby-image-wrapper {
    opacity: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    img {
      font-family: 'object-fit: cover !important; object-position: center center !important;';
    }
  }

  .monica-about {
    text-align: center;

    h2 {
      margin-top: 25px;
      margin-bottom: 25px;
      font-family: 'Playfair Display';

      @media (min-width: 767px) {
        margin-bottom: 50px;
      }
    }

    p {
      margin-bottom: 25px;
      line-height: 2;
      opacity: 0;

      @media (min-width: 767px) {
        margin-bottom: 0;
      }
    }
  }
}

/********** TESTIMONIALS SECTION **********/

.testimonials {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Poppins';

  @media (min-width: 767px) {
    margin-bottom: 100px;
  }

  h2 {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Playfair Display';

    @media (min-width: 767px) {
      margin-bottom: 50px;
    }
  }
}
