.about-mb-page {
  margin: 100px auto;
  line-height: 2;
  font-family: 'Poppins';

  .mb-text {
    h1 {
      font-weight: bold;
      margin-bottom: 25px;
      font-family: 'Playfair Display';
    }
    p {
      margin-bottom: 50px;
    }
  }

  .img-section {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    margin-bottom: 50px;

    @media (min-width: 992px) {
      justify-content: space-between;
    }

    .img-group {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      margin-bottom: 50px;

      @media (min-width: 992px) {
        width: 48%;
      }

      p {
        display: flex;
        justify-content: space-around;
        width: 100%;
        text-align: center;
        font-weight: bold;
      }

      .img-container {
        display: flex;
        width: 50%;

        .gatsby-image-wrapper {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          width: 100%;
          transition: 0.3s;

          &:hover {
            opacity: 0.6;
            cursor: pointer;
          }

          img {
            font-family: 'object-fit: cover !important; object-position: center center !important;';
          }
        }
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);

  .gatsby-image-wrapper {
    max-width: 80%;
    max-height: 800px;
    margin: 0 auto;

    @media (min-width: 992px) {
      max-width: 50%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
